body{
    background-color: black;
}
.whole{
    position: relative;
    width:900px;
    height:500px;
    margin-top:50px;
    margin-left:50px;
    border:5px solid none;
    background-color: #63686e;
    box-shadow: 5px 10px 20px 25px #343434;
}

.circle1{
    position: absolute;
    width:200px;
    height:200px;
    left:80px;
    top:100px;
    border:20px solid #bcbab8;
    border-radius: 50%;
    z-index:1;
       
}
.circle2{
    position: absolute;
    width:200px;
    height:200px;
    left:240px;
    top:100px;
    border:20px solid #bcbab8;
    border-radius: 50%;
    z-index:1;
}
.circle3{
    position: absolute;
    width:200px;
    height:200px;
    left:400px;
    top:100px;
    border:20px solid #bcbab8;
    border-radius: 50%;
    z-index:1;
}
.circle4{
    position: absolute;
    width:200px;
    height:200px;
    left:560px;
    top:100px;
    border:20px solid #bcbab8;
    border-radius: 50%;
    z-index:1;
}
.shadow1{
    position:absolute;
    width:900px;
    height: 150px;
    background:#414141;
    
}
.shadow2{
    position:absolute;
    width:680px;
    height: 275px;
    background: #414141;
    color: red;
    top:40px;
    left:100px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.shadow3{
    position:absolute;
    width:100px;
    height:200px;
    background: #414141;
    color: red;
    top:95px;
    left:25px;
    border-bottom-left-radius: 90px;
    border-top-left-radius:140%;
    transform: rotateZ(-55deg);
}
.shadow4{
    position:absolute;
    width:100px;
    height:200px;
    background: #414141;
    color: red;
    top:80px;
    right:29px;
    border-bottom-right-radius: 90px;
    border-top-right-radius:140%;
    transform: rotateZ(62deg);
}